@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --black: #000000;
    --light-brown: #d5b78f;
  }
body{
    font-family: 'Oswald', sans-serif;
    background-color: var(--black);
    color: var(--light-brown);
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: var(--light-brown);
}
.main-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2160px;
    width: 3840px;
    background-image: url('./assets/bg.png');
    background-size: cover;
}

.main-page__links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    margin-top: 20%;
}
.main-page__link{
    font-size: 8rem;
    font-weight: 700;
    color: var(--black);
    background-color: var(--light-brown);
    width: 40vh;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.3rem;
}



.news-page{
    display: flex;
    flex-direction: column;
    padding: 5% 8%;
    align-items: end;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

.news-page__items{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3%;
    margin-top: 5%;

}
.news-page__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    color: var(--light-brown);
    border: #d5b78f 5px solid;
    padding: 1%;
    min-height: 50%;
}

.news-page__item__title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 5%;
}
.news-page__item__content{
    font-size: 2.5rem;
    font-weight: 400;
}
.news-page__title{
    font-size: 4rem;
    font-weight: 700;
    background-color: var(--light-brown);
    color: var(--black);
    padding: 2%;
    width: 35%;
    margin-right: -15%;
}